/*TODO*/
/*1. Выровнить по флексам header */



/*Global*/
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.red{
	color: #af1519;
}
.white{
	color: #fff;
}
.no-wrap{

}
/*header*/
header{
	background-color: #000;
}
.header__header-links{
	width: 80%;
	margin: auto;
	background-color: #000;
}

.header-links__menu{
	display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}
.header-links__menu>li>a{
	color: #909090;
}
.header-links__menu>li>span{
	color:#fff;
}
.header__header-info{
	width: 80%;
	margin:40px auto 30px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}
.header__header-info>div{
height: 120px;
}
.header-info__logo a{
	display: block;
	width: 141px;
	height: 100px;
	background: url(../img/logo.png) top left no-repeat;
}
, .header-info__mail{
	color: #fff;
}
.header-info__phone{
	background: url(../img/phone.png) bottom left no-repeat;
	line-height: 32px;
}
.phone-name, .phone-time{
	font-size: 14px;
}
.phone-number{
	font-size: 26px;
}
.phone-name, .phone-number, .phone-time{
	padding-left: 60px;
}
.header-info__mail{
	background: url(../img/ism.png) top left no-repeat;
}
.autoservice,.autospare, .header__mail{
	padding-left: 25px;
	line-height: 31px;
}
.header-info__other{
/*background: url(../img/basket.png) no-repeat;*/
color:#909090;
}
.header-info__other>.white{
	padding-top: 18px;
}

.header__main-menu{
	  flex-basis: 80%;
    margin: auto;
}

.main-menu__links{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items:center;
  
}
.main-menu__links>li{
	background: #1c1c1c;
  
}
.main-menu__links a{
	text-decoration: none;
    text-transform: uppercase;
    border: 0;
    float: left;
    color: #fff;
    text-shadow: 0px -1px 0px #000000;
    line-height: 69px;
    padding-left: 35px;
    padding-right: 35px;
    border-left: 1px solid #151515;
    border-right: 1px solid #323232;
    list-style: none;
}
.input-li{
	padding: 18px;
}

.queryField input{
	color:#474747 !important;
}
.searchSbmFl{
	width: 32px;
	height: 32px;
	background: #af1519;
}

.main-content{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.left-colum{
	flex-basis: 20%;
}
.main-content__center{
	border:1px solid black;
	padding:5px;
	flex-basis: 80%;
}
